:root {
  --white: #FFFFFF;
  --dark-green: #23291B;
  --light-green: #C5CDBA;
}

body {
    font-family: 'Barlow Condensed', sans-serif;
    color: var(--dark-green);
    margin: 0;
}

section {
    min-height: 100vh;
}

ul {
    padding: 0rem;
    margin: 0rem;
    list-style: none;
}

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
  padding: 2rem 0;
  z-index: 30;
}

.menu-header {
  width: 94%;
  display: flex;
  margin: auto;
}

.btn-cta {
  display: flex;
  align-items: center;
  margin-left: auto;
  padding-left: 2rem;
  padding-right: .1rem;
  border-radius: 50px;
  background-color: var(--white);
  box-shadow: inset 0 0 0 0 var(--dark-green);
  border: 1px solid var(--dark-green);
  transition: box-shadow .15s ease-in-out;
  text-decoration: none;
}

.btn-cta.light {
    background-color: transparent;
    border: 1px solid var(--white);

}

.btn-cta.light .btn-cta__label {
  color: var(--white);
}

.btn-cta.light .btn-cta__spinner {
    fill: var(--white);
}

.btn-cta.light:hover {
  box-shadow: inset 0 0 0 3em var(--white);
}

.btn-cta.light:hover .btn-cta__label {
  color: var(--dark-green);
}

.btn-cta.light:hover .btn-cta__spinner {
    fill: var(--dark-green);
}

.btn-cta__label {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    color: var(--dark-green);
    text-transform: uppercase;
    margin-right: .5rem;
}

.btn-cta__spinner {
    animation-name: spin;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    fill: red;
}

.btn-cta:hover {
  cursor: pointer;
  box-shadow: inset 0 0 0 3em var(--dark-green);
}

.btn-cta:hover .btn-cta__label {
  color: var(--white);
}

.btn-cta:hover .btn-cta__spinner {
  fill: var(--white);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

.hero-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  position: sticky;
  inset: 0;
  z-index: 10;
  overflow: hidden;
}

.hero-section__title {
    display: grid;
    font-size: 18vw;
    text-align: center;
    text-transform: uppercase;
    color: var(--dark-green);
    margin-bottom: 0rem;
    margin-top: 0rem;
    line-height: 1;
}

.stack-section {
  background-color: var(--dark-green);
  z-index: 20;
  position: relative;
}

.stack-section__container {
    max-width: 86vw;
    margin: auto;
}
  
.stack-section__title {
  padding-top: 0rem;
  font-size: 14vw;
  color: var(--white);
}
  
.stack-section__list {
  padding-bottom: 14rem;
}

.stack-section__list__item {
  position: relative;
  height: 114px;
  display: flex;
  align-items: center;
  transition: all .1s ease-in-out;
  box-shadow: inset 0 0 0 0 var(--white);
}

.stack-section__list__item--content {
    font-size: 2.5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-weight: 300;
    text-transform: uppercase;
    color: var(--white);
}

.stack-section__list__item::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0px;
    right: 0px;
    border-top: 1px solid #3b442e;
}

.project-section {
  background-color: var(--white);
  z-index: 40;
  position: relative;
  display: flex;
  overflow-x: hidden;
  align-items: center;
}

.project-section__project {
  position: relative;
}

.project-section__project:not(:last-of-type) {
    margin-right: 03rem;
}

.project-section__project__title {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    font-size: 8rem;
    color: var(--white);
    margin: 0rem;
    opacity: 0;
    transition: all .3s ease-in-out;
}

.project-section__project:hover .project-section__project__title{
    opacity: 1;
}

.link {
  min-width: 90vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.link::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0);
    transition: all .3s ease-in-out;
}

.link:hover{
  cursor: pointer;
}

.link:hover::after {
  background-color: rgba(0,0,0, .5);
}

.link img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;

}

.highlight-projects {
  position: relative;
  padding: 0rem;
  z-index: 10;
  overflow-x: hidden;
  background-color: var(--white);
}

.highlight-projects__wrapper {
  display: flex;
  align-items: center;
  padding: 2rem 0rem;
}

.projects__title {
  font-size: 10vw;
  margin: 0rem;
  color: var(--dark-green);
}

.highlight-projects img{
  margin: 1rem 2rem 0rem;
}

.highlight-info {
  position: relative;
  z-index: 10;
  overflow-x: hidden;
  background-color: var(--white);
  border-top: 1px solid var(--light-green);
  border-bottom: 1px solid var(--light-green);
}

.highlight-info__wrapper {
  display: flex;
  align-items: center;
  padding: .5rem 0rem;
}

.info__title {
  display: inline;
  white-space: nowrap;
  font-size: 2rem;
  font-weight: 300;
  margin: 1.5rem 0rem;
  color: var(--dark-green);
}

.info__title span{
  font-size: 2rem;
  font-weight: 400;
  color: var(--light-green);
}